<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Grocery Products</title>
<style>
body { 
    font-family: Arial, sans-serif; 
    margin:0; 
    padding:0; 
    background:#d9ece0; 
}

h1 { 
    text-align:center; 
    margin:20px 0; 
}

.product-grid { 
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap:15px; 
    padding:20px; 
}

.product-card { 
    background:#fff; 
    border:1px solid #7cbd14; 
    border-radius:15px; 
    padding:10px; 
    text-align:center; 
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
 }

.product-card img { 
    width:100%; 
    height:150px; 
    object-fit:cover; 
    border-radius:5px; 
}

.product-card:hover { 
    
    box-shadow:0 4px 10px rgba(3, 97, 19, 0.2); 
    transform:translateY(-5px); 
    transition: all 0.3s ease; 
}

.product-name { 
    margin-top:10px; 
    font-weight:bold; 
}

.product-price { 
    margin-top:5px; 
    color:#0f5132; 
    font-weight:bold; 
}

.product-link{
    text-decoration:none;
    color:inherit;
}

</style>
</head>
<body>

<h1>Grocery</h1>

<div class="product-grid">

<a href="{{ url_for('product_detail', product_id=21) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/image.png') }}">
<div class="product-name">Rice 5kg</div>
<div class="product-price">Rs.1200.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=502) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/flour.jpg') }}">
<div class="product-name">Flour 2kg</div>
<div class="product-price">Rs.400.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=503) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/sugar.jpeg') }}">
<div class="product-name">Sugar 1kg</div>
<div class="product-price">Rs.295.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=504) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/salt.jpg') }}">
<div class="product-name">Salt 1kg</div>
<div class="product-price">Rs.120.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=505) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/cookingOil.jpg') }}">
<div class="product-name">Cooking Oil 1L</div>
<div class="product-price">Rs.900.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=506) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/lentils.jpg') }}">
<div class="product-name">Lentils 1kg</div>
<div class="product-price">Rs.600.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=507) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/chiliPowder.jpg') }}">
<div class="product-name">Chili Powder 250g</div>
<div class="product-price">Rs.250.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=508) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/turmeric.jpg') }}">
<div class="product-name">Turmeric Powder 250g</div>
<div class="product-price">Rs.200.00</div>
</div>
</a>


<a href="{{ url_for('product_detail', product_id=509) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/coconutmilk.jpg') }}">
<div class="product-name">Coconut Milk 400ml</div>
<div class="product-price">Rs.350.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=510) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/tomato.jpg') }}">
<div class="product-name">Tomato Paste 200g</div>
<div class="product-price">Rs.180.00</div>
</div>
</a>

<!-- 11–20 -->

<a href="{{ url_for('product_detail', product_id=511) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/SoyaSauce.jpg') }}">
<div class="product-name">Soya Sauce 250ml</div>
<div class="product-price">Rs.400.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=512) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/Coconut-vinegar.jpg') }}">
<div class="product-name">Vinegar 340ml</div>
<div class="product-price">Rs.350.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=513) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/pasta.jpg') }}">
<div class="product-name">Pasta 500g</div>
<div class="product-price">Rs.550.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=514) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/noodles.jpg') }}">
<div class="product-name">Noodles 500g</div>
<div class="product-price">Rs.520.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=515) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/tea.webp') }}">
<div class="product-name">Tea  200g</div>
<div class="product-price">Rs.600.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=516) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/coffee.webp') }}">
<div class="product-name">Coffee Powder 200g</div>
<div class="product-price">Rs.550.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=517) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/oats.jpg') }}">
<div class="product-name">Oats 500g</div>
<div class="product-price">Rs.900.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=518) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/jam.jpg') }}">
<div class="product-name">Jam 250g</div>
<div class="product-price">Rs.450.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=519) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/honey.jpg') }}">
<div class="product-name">Honey 250g</div>
<div class="product-price">Rs.700.00</div>
</div>
</a>

<a href="{{ url_for('product_detail', product_id=520) }}" class="product-link">
<div class="product-card">
<img src="{{ url_for('static', filename='images/product/Grocery/penutbutter.jpg') }}">
<div class="product-name">Peanut Butter 250g</div>
<div class="product-price">Rs.650.00</div>
</div>
</a>

</div>
</body>
</html>
